@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-white: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background-color: var(--Very-dark-blue);
  display: flex;
  align-items: center;
  font-size: 15px;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.main-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--Dark-desaturated-blue);
  border-radius: 12px;
  overflow: hidden;
  margin: 2rem;
  /* max-height: 400px; */
}

.text-content {
  padding: 13%;
}

.header {
  font-weight: 700;
  color: var(--White);
  padding-bottom: 20px;
}

.header span {
  color: var(--Soft-violet);
}

.sub-head {
  color: var(--Slightly-transparent-white);
  line-height: 1.5;
  /* font-size: 0.8rem; */
  text-align: left;
  padding-bottom: 60px;
}

.stat {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.stat h1 {
  font-weight: 700;
  color: var(--White);
  margin-bottom: 7px;
  font-size: 20px;
}
.stat p {
  color: var(--Slightly-transparent-white-white);
  font-family: "Lexend Deca", sans-serif;
}

.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrap {
  position: relative;
}

.image-wrap::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(277, 64%, 61%, 0.75);
  mix-blend-mode: multiply;
}

@media only screen and (max-width: 628px) {
  .main-wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  body {
    text-align: center;
  }

  .text-content {
    padding: 12% 8%;
    text-align: center;
  }
  .sub-head {
    text-align: center;
    padding-bottom: 10px;
  }
  .header {
    font-size: 23px;
    line-height: 1.4;
  }
  .stat {
    flex-direction: column;
  }

  .stat div {
    margin-top: 20px;
  }
}
